<div class="col-md-12">
  <div class="suisuinian">
    <%= link_to("Edit", edit_suisuinian_path(@suisuinian), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @suisuinian.title %></h2>
  <p><%= @suisuinian.description %></p>
</div>
